@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */
:root {
    --background: #e8e8e8;
    --black: black;
    --white: white;
    --grey: #747474;
    --border: #dbdbdb;
}

.primary-bg {
  background-color: var(--background);
}


.inter-tight {
  font-family: "Inter Tight", sans-serif;
}
