@import "tailwindcss";

/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Custom Properties (CSS Variables) */
:root {
  --primary: hsla(180, 7%, 16%, 1);
  --secondary: hsla(217, 7%, 78%, 1);
  --text: hsla(227, 100%, 98%, 1);
  --accent-light: hsla(351, 40%, 71%, 1);
  --accent-dark: hsla(355, 54%, 44%, 1);
}

/* Background colors */
.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-flat {
  background-color: var(--text);
}

.bg-accent-light {
  background-color: var(--accent-light);
}

.bg-accent-dark {
  background-color: var(--accent-dark);
}

/* Text colors */
.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-flat {
  color: var(--text);
}

.text-accent-light {
  color: var(--accent-light);
}

.text-accent-dark {
  color: var(--accent-dark);
}

/* Borders */
.border-primary {
  border: 1px solid var(--primary);
}

.border-secondary {
  border: 1px solid var(--secondary);
}

.border-flat {
  border: 1px solid var(--text);
}

.border-accent-light {
  border: 1px solid var(--accent-light);
}

.border-accent-dark {
  border: 1px solid var(--accent-dark);
}

/* Hover effects */
.hover-bg-primary:hover {
  background-color: var(--primary);
}

.hover-bg-secondary:hover {
  background-color: var(--secondary);
}

.hover-bg-flat:hover {
  background-color: var(--text);
}

.hover-bg-accent-light:hover {
  background-color: var(--accent-light);
}

.hover-bg-accent-dark:hover {
  background-color: var(--accent-dark);
}

.hover-text-primary:hover {
  color: var(--primary);
}

.hover-text-secondary:hover {
  color: var(--secondary);
}

.hover-text-flat:hover {
  color: var(--text);
}

.hover-text-accent-light:hover {
  color: var(--accent-light);
}

.hover-text-accent-dark:hover {
  color: var(--accent-dark);
}

/* Font Classes */
.font-body {
  font-family: "Roboto", sans-serif;
}

.font-heading {
  font-family: "Playfair Display", serif !important;
}
