@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --color-primary: #222831;
  --color-secondary: #393e46;
  --color-accent: #3c6e71ff;
  --color-dark: #284b63ff;
  --color-flat: #eeeeee;
}

body {
  background-color: var(--color-flat);
  color: var(--color-primary);
}

body.dark {
  background-color: var(--color-primary);
  color: var(--color-flat);
}

.font-special {
  font-family: "EB Garamond", serif !important;
}
.font-heading {
  font-family: "Playfair Display", serif !important;
}
.font-body {
  font-family: "Roboto", sans-serif;
}
